<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-screen p-10">
      <h1 class="mb-4 text-2xl">Create Your Product.</h1>
      <form
        class="flex flex-col gap-5"
        action="/products/create"
        method="post"
        enctype="multipart/form-data"
      >
        <input
          class="bg-transparent border border-zinc-900 px-3 py-3 outline-none rounded"
          type="text"
          name="title"
          placeholder="title"
          required
        />
        <textarea
          class="bg-transparent border border-zinc-900 px-3 py-3"
          name="description"
          placeholder="description..."
        ></textarea>
        <input
          class="bg-transparent border border-zinc-900 px-3 py-3 outline-none rounded"
          type="number"
          name="price"
          placeholder="price"
          min="10"
          required
        />
        <p class="image-uploader-click mb-2 mt-2 text-xl w-fit">
          Upload a image <span class="text-blue-500 cursor-pointer">here</span>
          <sup class="text-red-500">required</sup>
        </p>
        <input
          class="hidden image-uploader"
          type="file"
          name="productImage"
          placeholder="upload image"
          accept="image/*"
          required
        />
        <input
          class="bg-emerald-500 px-4 py-3 rounded cursor-pointer"
          type="submit"
          value="Create Product"
        />
      </form>
    </div>

    <script>
      const clickInput = document.querySelector('.image-uploader-click');
      const uploader = document.querySelector('.image-uploader');
      clickInput.addEventListener('click', (req, res) => {
        uploader.click();
      });
    </script>
  </body>
</html>
