<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Each Product | Faiyan</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      class="w-full h-[10vh] p-10 flex items-center justify-between bg-[#ebebeb]"
    >
      <h2 class="text-2xl"><a href="/">iFaiyan</a></h2>
      <div class="hidden md:flex gap-10 list-none">
        <li class="hover:cursor-pointer">
          <a href="/">Home</a>
        </li>
        <li class="hover:cursor-pointer">
          <a href="/products">Products</a>
        </li>
        <li class="hover:cursor-pointer">
          <a href="/products/create">Create</a>
        </li>
        <li>
          <a href="/logout">LogOut</a>
        </li>
      </div>
      <img
        class="responsive-button md:hidden w-6"
        src="https://cdn-icons-png.flaticon.com/128/17821/17821829.png"
        alt="menu button"
      />
    </nav>

    <div class="mobile-menu hidden md:hidden left-0 w-full list-none">
      <li
        class="cursor-pointer hover:bg-blue-500 bg-blue-400 w-full text-center py-3"
      >
        <a class="block" href="/products">Products</a>
      </li>
      <li
        class="cursor-pointer hover:bg-blue-500 bg-blue-400 w-full text-center py-3"
      >
        <a class="block" href="/basket">Your Basket</a>
      </li>
      <li
        class="cursor-pointer hover:bg-blue-500 bg-blue-400 w-full text-center py-3"
      >
        <a class="block" href="/my-store">My Store</a>
      </li>
    </div>

    <div class="w-full h-screen p-5 md:flex">
      <img
        class="w-full md:w-1/4 h-1/2 object-cover rounded"
        src="<%= product.image %>"
        alt="Product image"
      />
      <div class="md:ml-10">
        <div class="flex items-center justify-center mt-5">
          <img
            class="add-cart w-10 h-10 bg-zinc-100 rounded mr-5"
            src="https://cdn-icons-png.flaticon.com/128/2956/2956820.png"
            alt="basket icon"
          />
          <p class="font-light"><%= product.title %></p>
        </div>
        <p>Price: <%= product.price %> €</p>
        <h2 class="font-light mt-5">Description:</h2>
        <p class="font-light"><%= product.description %></p>
      </div>
    </div>

    <script src="/public/js/addToCart.js"></script>
  </body>
</html>
